body{
    padding: 0;
    margin: 0;
    display: grid;
}
body *{
    background-repeat: no-repeat;
    background-position: center;
}

header{
    height: 230px;
    background-image: url('../Images/textura_areia.svg');
    background-size: cover;
    display: flex;
}
header div{
    margin: 20px auto auto auto;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}
header div i{
    width: 130px;
    height: 60px;
    display: block;
    background-image: url('../Images/skol_icon.svg');
    background-size: contain;    
}
header div img{
    position: absolute;
    margin-top: 80px;
}
.imgDecoration{
    position: absolute;
    margin: -120px 0px 0px 70%;
}

.sectionShowEvents{
    background-color: green;
    min-height: 200px;
    display: grid;
    justify-items: center;
}
.iSkolShowDeVerao{
    width: 200px;
    height: 200px;
    border-radius: 100%;

}
.divShowEvents{
    width: 60%;
    height: 150px;
    display: flex;
    background-color: red;
}

.sectionAboutEvent{
    min-height: 200px;
    display: flex;
    background-color: pink;
}

.sectionMap{
    min-height: 150px;
    background-color: blue;
}

.sectionCompanies{
    min-height: 150px;
    background-color: green;
}

footer{
    min-height: 150px;
    background-color: yellow;
}